h1.welcome-h {
    
}

button {
    width: 225px;
    height: 225px;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    margin: 20px;
    color: rgb(203, 252, 199);
    background: rgb(76, 117, 0);
    font-size: 22px;
    font-weight: bold
}

button:hover {
    background:rgb(115, 136, 75);
    color:rgb(48, 58, 45)
}

button:active{
    width: 235px;    
    height: 235px;
    margin: 15px;
}