:host /deep/ button{
    width: 225px;
    height: 225px;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    margin: 20px;
    color: rgb(203, 252, 199);
    background: rgb(76, 117, 0);
    font-size: 22px;
    font-weight: bold
}

:host /deep/ button:hover {
    background:rgb(115, 136, 75);    
}

:host /deep/ button.small-btn{
    width: 50px; 
    height: 50px; 
    margin: 0px 3px 0px 0px
}

:host /deep/ button.extra-small-btn{
    width: 28px; 
    height: 28px; 
    margin: 0px 0px 0px 5px;
}

:host /deep/ button.toggle-btn{    
    background: rgb(53, 82, 0);
}

:host /deep/ button.welcome:active{
    width: 235px;    
    height: 235px;
    margin: 15px;
    box-shadow: none;
    border-radius: 0px;
    border: none;
}

:host /deep/ .green-border{
    border: solid rgb(76, 117, 0);
    border-width: 1px
}
:host /deep/ i {
    border: solid rgb(203, 252, 199);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

:host /deep/ .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

:host /deep/ .right {
    margin: 9px 4px 0px 0px;
    vertical-align: top;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

:host /deep/ thead {    
    border-bottom: 2px solid rgba(51, 255, 36, 0.048);
}

:host /deep/ tr:hover {    
    background-color: rgb(115, 136, 75);    
}

:host /deep/ tr.no-hover:hover {    
    background-color: rgba(0, 0, 0, 0);    
}

:host /deep/ table {    
    width: 100%;
}

:host /deep/ td {  
    padding-left: 20px;
    padding: 5px 20px 5px 20px;
}

:host /deep/ th {  
    padding-left: 20px;
    padding: 5px 20px 5px 20px;
}

:host /deep/ li:hover {
    background-color: rgb(115, 136, 75);    
}

:host /deep/ input, :host /deep/ select{
    background: rgb(230, 255, 201);
    color: rgb(41, 41, 41);
    box-shadow: none;
    border: none;
    border-radius: 2px;
    padding: 0px 8px 0px 8px;
    font-size: 18px;
    height: 28px;
    width: inherit;
}

:host /deep/ a{
    color: rgb(76, 117, 0);
}

:host /deep/ a:hover{
    color: rgb(29, 99, 1);
}


:host /deep/ .no-spaces{
    margin: 0px;
    padding: 0px;
}

:host /deep/ .error-text{
    color: brown;
}