<div class="container">
    <div class="row">
        <div class="col-sm-3 list-container">       
            <div style="display: inline-block">     
                <button class="small-btn" (click)="goBack()">
                    <i class="arrow left"></i>
                </button>
                <button class="small-btn" (click)="createNewClick()">+</button>
            </div>  
            <ul class="green-border">
                <li *ngFor="let guest of guests"
                (click)="onSelect(guest)"
                class="guests-li"
                [class.selected-li]="guest == selectedItem">{{guest.name}}</li>
            </ul>
        </div>
        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>