li.guests-li {
    cursor: pointer;
    margin:0px;
    padding-left:10px;
    color: rgb(216, 216, 216);
    font-weight: 100
}

li.selected-li {
    background: rgb(66, 92, 19);  
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.list-container{
    height: 100vh;
}