img{
    width: 25px;
    margin: 5px;
}

img.none:hover{
}

img.stats-edit-img {
    animation: shake 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: rotate(0deg); }
    4% { transform: rotate(10deg); }
    8% { transform: rotate(0deg); }
    12% { transform: rotate(-10deg); }
    16% { transform: rotate(0deg); }
    20% { transform: rotate(10deg); }
    24% { transform: rotate(0deg); }
    28% { transform: rotate(-10deg); }
    32% { transform: rotate(0deg); }
  }

img.stats-edit-img1[dice-value="4"]:hover{
    content: url('app/images/d4.gif');
}

div.stats{
    display: inline-block;
}

img.edit {
    width: 16px;
}

.right-align{
    text-align: right;
}
