img{
    width: 25px;
    margin: 5px;
}

img.none:hover{
}

img.stats-edit-img[dice-value="4"]:hover{
    content: url('app/images/d4.gif');
}

img.stats-edit-img[dice-value="6"]:hover{
    content: url('app/images/d6.gif');
}

img.stats-edit-img[dice-value="8"]:hover{
    content: url('app/images/d8.gif');
}

img.stats-edit-img[dice-value="10"]:hover{
    content: url('app/images/d10.gif');
}

img.stats-edit-img[dice-value="12"]:hover{
    content: url('app/images/d12.gif');
}

div.stats{
    display: inline-block;
}

button.edit{
    margin: 3px;
    width: 40px; 
    height: 40px;
}

img.edit {
    width: 16px;
}
