<div *ngIf="guest" >
    <div class="green-border" style="padding: 20px">
        <h2>Name: {{guest.name}}</h2>
        <h3>Level: {{guest.level}}</h3>
    </div>
    <br/>
    <div class="green-border">
        <table>
            <thead>
                <tr>
                    <th>Characteristic</th>
                    <th>Proficiency level</th>
                </tr> 
            </thead>
            <tr>
                <td>Strength</td>
                <td>{{guest.strength}}</td>
            </tr>
            <tr>
                <td>Toughness</td>
                <td>{{guest.toughness}}</td>
            </tr>
            <tr>
                <td>Agility</td>
                <td>{{guest.agility}}</td>
            </tr>
            <tr>
                <td>Smarts</td>
                <td>{{guest.smarts}}</td>
            </tr>
            <tr>
                <td>Spirit</td>
                <td>{{guest.spirit}}</td>
            </tr>
        </table>
    </div>
</div>