<div *ngIf="guest" >
    <div class="green-border" style="padding: 20px">
        <h2>Name: {{guest.name}}</h2>
        <h3>Level: {{guest.level}}</h3>
    </div>
    <br/>
    <div class="green-border">
        <table>
            <thead>
                <tr class="no-hover">
                    <th>Characteristic</th>
                    <th>Proficiency level</th>
                    <th style="width: 10%">
                        <button class="edit"(click)="switchEditMode()">
                            <img class="edit" [src]="!editMode ? 'app/images/edit.png' : 'app/images/save.png'"/>
                        </button>
                    </th>
                </tr> 
            </thead>
            <tr *ngFor="let key of guest.stats.keys">
                <td>{{key}}</td>
                <td colspan="2">
                    <div *ngFor="let dice of dices" class="stats">
                        <img attr.dice-value="{{dice}}" 
                        [class.stats-edit-img]="editMode" 
                        [src]="guest.stats.item(key) >= dice ? 'app/images/d' + dice + '.gif' : 'app/images/d' + dice + '-grayed.gif'"
                        (click)="onStatsClick(key, dice)"
                        (mouseenter)="onStatsMouseEnter(key, dice)"
                        (mouseleave)="onStatsMouseLeave()"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>